body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding-top: 120px;
  background-color: #f4f4f9;
  color: #333;
  line-height: 1.6;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  color: white;
  
}
.welcome{
  text-align: center;
  padding: 505x 0;
  font-size: 2em;
  font-weight: bold;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  position: fixed; 
  top: 0;          
  left: 0;         
  width: 80%;      
  z-index: 1000;   
  background-color: #0f2027; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.5); 

}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}
.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}
.product{
  display: flex;
  justify-content: left;
  gap: 60px
  
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-color: #f4f4f9;
  color: black;
}

fieldset {
  padding: 30px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 500px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: black;
}

input[type="submit"] {
  background-color: #00b894;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #00997a;
}
form label {
  color: #333; 
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
.enquiry_main{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* Style for the Features Table */
.specs-table {
  border-color: white;
  margin-top: 20px;
}

.specs-table th {
  background-color: #00b894; /* Matches your submit button color */
  color: white;
  padding: 15px;
}

.specs-table td {
  background-color: rgba(255, 255, 255, 0.1); /* Transparent white */
  color: white;
}


.product img {
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}
 

  
  